@font-face {
	font-family: 'YandexSansDisplay-Bold';
	src: url(../fonts/YandexSansDisplay-Bold.ttf);
}

@font-face {
	font-family: 'YandexSansDisplay-Regular';
	src: url(../fonts/YandexSansDisplay-Regular.ttf);
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
	padding: 0;

	color: #000;
	font-family: 'YandexSansDisplay-Regular', sans-serif;
	font-size: 10px;
	line-height: normal;
	background-color: #fff;
}

.no-scroll {
	overflow: hidden;
}

.fix-block {
	max-width: 2400px;
	margin: 0 auto;
}

@media (max-width: 1199px) {

	html,
	body {
		font-size: 8px;
	}
}

a,
a:hover {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
h2,
h3,
p {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
}

input,
button {
	outline: none;
}

button {
	cursor: pointer;
	transition: .5s;
}

.container {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}

@media (max-width: 1600px) {
	.container {
		max-width: 1200px;
		padding: 0;
	}
}

@media (max-width: 1239px) {
	.container {
		padding: 0 20px;
	}
}

@media (max-width: 991px) {
	.container {
		padding: 0px 15px;
	}
}

.basic-text {
	font-size: 24px;
	line-height: 1.2;

	@media(max-width:1199px) {
		font-size: 20px;
	}

	@media(max-width:991px) {
		font-size: 18px;
	}

	@media(max-width:767px) {
		font-size: 16px;
	}
}

.block-title {
	color: #171717;
	font-family: @boldText;
	font-size: 38px;
	font-weight: 700;
	margin-bottom: 20px;

	@media(max-width:1199px) {
		font-size: 36px;
	}

	@media(max-width:991px) {
		font-size: 34px;
	}

	@media(max-width:579px) {
		font-size: 32px;
	}

}

.page-button {
	position: relative;
	overflow: hidden;
	display: block;
	border: 0px;
	border-radius: 5px;
	font-size: 24px;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
	height: 54px;
	line-height: 1;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	background-color: rgb(255, 209, 2);
	box-shadow: 0px 5px 0px 0px #eaa000;

}

.page-button:hover {
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}