footer.footer.d-none.d-md-block
	.container
		.row
			.col-sm-6.col-md-4
				nav.left-menu
					a(href="#").footer-link Правовая информация
					a(href="#tariff").footer-link Тарифы
					a(href="#partners").footer-link Партнеры

			.col-sm-6.col-md-4.col-xl-3.offset-xl-1
				.center-menu
					p.company-name Ваша компания
					a(href="#").footer-link Тестирование продукта
			.col-sm-6.col-md-4
				.footer-contacts
					a.contacts-item.contacts-item--phone.d-flex(href="tel:88000000000")
						i.fas.fa-phone-alt
						.header-contacts-phone.contacts-phone 8 (800) 000-00-00
					.contacts-item.d-flex
						i.fas.fa-map-marker-alt  
						.header-contacts-address.contacts-address Город, ул. Наименование, д.,0-00
			