//СЕКЦИЯ 4
section.partners
	
	.container
		.partners-content
			.partners-text
				.block-title Наши партнеры
				.info-text
					p.medium-text С нами работает уже более
					p.animate-num 500
					p.medium-text организаций
					p.basic-text Присоединяйтесь и Вы!
				.buttton-block
					button.page-button.page-button--light Присоединиться
					button.button-link Узнать о привилегиях
			.partners-logo
				.partners-logo__item.wow.zoomIn(data-wow-duration="2s" )
					img(src="img/section4/partner1.png", alt="partner_logo")
				.partners-logo__item.wow.zoomIn(data-wow-duration="2.2s" )
					img(src="img/section4/partner2.png", alt="partner_logo")
				.partners-logo__item.wow.zoomIn(data-wow-duration="2.4s" )
					img(src="img/section4/partner3.png", alt="partner_logo")
				.partners-logo__item.wow.zoomIn(data-wow-duration="2.6s" )
					img(src="img/section4/partner4.png", alt="partner_logo")

		