//СЕКЦИЯ 8 Карта
section.map
	.block-head.text-center
		h2.block-title Свяжитесь  с нами
		p.basic-text Пока вы думаете, ваши конкуренты зарабатывают от 200.000 руб. в месяц!
	.map-wrapper
		.map-script
			script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aac7bab2e97dc55cc991d282ab4457ee7f53f19b51b2a9915bb604418bb365c52&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false")
	
		.map-contacts
			.map-contacts-head
				p.company-name Имя компании
				p.text-uppercase Мы будем рады ответить на ваши вопросы
			.map-contacts-body
				p.contact-item
					span г. Город, ул. Наименование,
					span д. 10, стр. 12
				p.contact-item Пн-Пт, с 10:00 до 20:00
				a(href="tel:89000000000").contact-phone 8-900-000-00-00
			.social-block
				a(href="#").social-block-item.icon-inst
					i.fab.fa-instagram
				a(href="#").social-block-item.icon-face
					i.fab.fa-facebook-square
				a(href="#").social-block-item.icon-youtube
					i.fab.fa-youtube


