//------СЕКЦИЯ # 2--------//
section.section-feedback.fix-block
	.section-feedback-inner
		.img-block
			.img-block__layout-left
				p
					span Бес-
					span плат-
					span но
			.img-block__layout-right
				p
					span 7
					span дней
			
		.form-block
			.form-block-content
				.form-block-head
					h2.block-title Протестируйте продукт бесплатно!
					p.basic-text Заполните форму ниже, чтобы получить доступ к бесплатному тестированию нашего продукта на неделю!
				.feedback-form
					form(action="").contact-form
						.form-row
							input(type="text" name="userName" placeholder = 'ivanexample@example.com')
							span.input-name Ваша эл. почта
						.form-row
							input(type="text" name="userPhone" placeholder = '+7 (900)-000-00-00')
							span.input-name Ваш номер телефона
						.form-btn
							input(type="submit" value="Получить доступ").page-button