//-зведочка для рейтинга
mixin productCard()
	.product-card
		.product-card__img(style="background-image: url(../img/section6/product.jpg")
		.product-card__body
			p.product-card__title Растение комнатное искуственное, 13 см.
			.product-card__price
				span.price-value 1960 руб.
				span.sale-value -20%
				p.old-price 2500 руб.
			.product-card__rating
				span 8 голосов
				span.rating-stars
					i.fas.fa-star
					i.fas.fa-star
					i.fas.fa-star
					i.fas.fa-star-half-alt
					i.far.fa-star
				span 4.5/5
			.product-card__footer
				button.card-button В корзину
				span.favor-icon
					i.fas.fa-heart
	
//Секция-6 Карточки товаров
section.products
	.container
		.products-cards-inner
			.product-card
				.product-card__img(style="background-image: url(../img/section6/product.jpg")
				.product-card__body
					p.product-card__title Растение комнатное искуственное, 13 см.
					.product-card__price
						span.price-value 1960 руб.
						span.sale-value -20%
						p.old-price 2500 руб.
					.product-card__rating
						span 8 голосов
						span.rating-stars
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star-half-alt
							i.far.fa-star
						span 4.5/5
					.product-card__footer
						button.card-button В корзину
						span.favor-icon
							i.fas.fa-heart
			.product-card
				.product-card__img(style="background-image: url(../img/section6/product.jpg")
				.product-card__body
					p.product-card__title Растение комнатное искуственное, 13 см.
					.product-card__price
						span.price-value 1960 руб.
						span.sale-value -20%
						p.old-price 2500 руб.
					.product-card__rating
						span 8 голосов
						span.rating-stars
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star-half-alt
							i.far.fa-star
						span 4.5/5
					.product-card__footer
						button.card-button В корзину
						span.favor-icon
							i.fas.fa-heart
