//СЕКЦИЯ 4
section.partners
	//- .partners-img
	//- 		img(src="../img/section4/partners.png", alt="img")
	.container
		.partners-text
			.block-title Наши партнеры
			.info-text
				p.medium-text С нами работает уже более
				p.animate-num 500
				p.medium-text организаций
				p.basic-text Присоединяйтесь и Вы!
			.buttton-block
				button.page-button.page-button--light Присоединиться
				button.button-link Узнать о привелегиях
		.partners-logo
		