//СЕКЦИЯ 7 Проведем расчет
section.calculation
	.container
		.block-head.text-center
			h2.block-title Рассчитаем вашу прибыль
			p.basic-text Текстовый блок подзаголовка рассчета стоимости или другая важная информация для посетителя сайта.
		.calculation-content
			.row
				.col
					.calculation-content__img
						img(src="img/section7/pic.png", alt="image")
						.calc-slogan
							p.basic-text Оформите заявку в течение следующего времени:
							.eTimer
							p.basic-text И получите результаты недавних #[span.color-word исследований] о бизнесе в интернете.