/*СЕКЦИЯ -4*/
.partners {
	height: 550px;
	padding-top: 2.1em;
	// padding-bottom: 2.5em;
	background-color: #f7de37;
	background: url(../img/section4/partners.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-position: 30px 30%;
	background-size: cover;
	position: relative;
	font-size: 32px;

	@media(max-width:1439px) {
		height: 515px;
	}

	.container {
		position: relative;
		z-index: 5;
	}

	.block-title {
		margin-bottom: .8em;
	}

	.info-text {
		margin-bottom: 18px;
	}

	.medium-text {
		font-size: 1em;
		line-height: 1;
	}

	p.animate-num {
		font-size: 2.4em;
		font-family: @boldText;
		line-height: 1;
	}

	.basic-text {
		margin-top: 1.85em;
	}

	button {
		display: inline-block;

	}

	.page-button.page-button--light {
		background-color: #fff;
		box-shadow: 0px 5px 0px 0px #555;

		@media(max-width: 1161px) {
			margin-bottom: 20px;
		}
	}

	.button-link {
		border: 0px;
		background-color: transparent;
		border-bottom: 1px solid #000;
		font-size: 24px;
		margin-left: 25px;
		height: 54px;

		&:hover {
			background-color: rgba(255, 255, 255, .35);
			border-radius: 5px 5px 0 0;

		}
	}
}

.partners-content {
	display: flex;
}

.partners-logo {
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: flex-end;
	justify-content: center;
	transform: translateY(-18%);
}

.partners-logo__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 360px;
	height: 140px;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 9px 0px rgba(183, 183, 183, 0.45);
	margin-bottom: 25px;

	&:first-child {
		margin-right: auto;
	}

	&:nth-child(2) {
		transform: translateX(-50%);
	}

	&:nth-child(3) {
		transform: translateX(-25%);
	}

	&:last-child {
		margin-bottom: 0;
	}

	@media(max-width: 1439px) {
		width: calc(360px * 0.9);
		height: calc(140px * 0.9);
	}

	@media(max-width: 1199px) {

		&:first-child,
		&:nth-child(2),
		&:nth-child(3) {
			transform: translateX(0%);
		}

		&:first-child {
			margin-right: 0;
		}
	}
}


.partners:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 204, 0, .5);
	z-index: 2;
}

.partners:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 60%;
	clip-path: polygon(0 0, 55% 0, 100% 100%, 0% 100%);
	background-color: rgb(247, 219, 68);
}