extends ../layouts/layout.pug

block variables
	-var title = "Page";

	
block content
	include ../sections/_header.pug
	include ../sections/_section-2.pug
	include ../sections/_section-3.pug
	include ../sections/_section-4.pug
	include ../sections/_section-5.pug
	include ../sections/_section-6.pug
	include ../sections/_section-7.pug
	include ../sections/_section-8.pug
	include ../sections/_footer.pug